body,
html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  overflow-y: hidden;
}

.container {
  background-color: rgb(33, 37, 43); /* #7b7e80;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "heatmapView linegraphView rightpane"
    "leftpane mdsView prints";
}

.linegraphView {
  background-color: rgba(25, 28, 31, 0.5);
  margin: 8px;
  border-radius: 16px;
  border-radius: 16px;
  grid-area: linegraphView;
  height: 48vh;
}
.heatmapView {
  background-color: rgba(25, 28, 31, 0.5);
  margin: 8px;
  border-radius: 16px;
  grid-area: heatmapView;
  height: 48vh;
}
.leftpane {
  background-color: rgba(25, 28, 31, 0.5);
  margin: 8px;
  border-radius: 16px;
  grid-area: leftpane;
  height: 48vh;
}
.mdsView {
  background-color: rgba(25, 28, 31, 0.5);
  margin: 8px;
  border-radius: 16px;
  grid-area: mdsView;
  height: 48vh;
}
.prints {
  background-color: rgb(33, 37, 43);
  margin: 8px;
  border-radius: 16px;
  height: 48vh;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  gap: 8px;
  grid-template-areas: "films_names actors_names";
}
.rightpane {
  background-color: rgb(33, 37, 43);
  margin: 8px;
  color: white;
  height: 48vh;
  gap: 8px;
  display: grid;
  grid-area: rightpane;
  grid-template-columns: 30% 68.5%;
  grid-template-rows: 100%;
  grid-template-areas: "settings analytic";
}

.analytics {
  display: grid;
  grid-template-columns: 52% 43%;
  grid-template-rows: 10% 65% 25%;
  background-color: rgba(25, 28, 31, 0.5);
  border-radius: 16px;
  gap: 12px;
  padding: 5px;
  grid-template-areas:
    "title title"
    "selectors actors_analytics"
    "results results"
  ;
}

.title {
  grid-area: title;
  /*background-color: rgba(25, 28, 31, 0.5);*/
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.selectors {
  grid-area: selectors;
  /*background-color: rgba(25, 28, 31, 0.5);*/
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.actors_analytics {
  grid-area: actors_analytics;
  /*background-color: rgba(25, 28, 31, 0.5);*/
  border-radius: 8px;
  width: 100%;
  height: 100%
}
.directors {
  grid-area: directors;
  max-width: 100%;
}
.results {
  grid-area: results;
  /*background-color: rgba(25, 28, 31, 0.5);*/
  border-radius: 8px;
  width: 100%;
  height: 90%;
}

.settings {
  grid-area: settings;
  padding: 8px;
  background-color: rgba(25, 28, 31, 0.5);
  border-radius: 16px;
}

.actors_names {
  grid-area: actors_names;
  overflow-y: auto;
  padding: 8px;
  background-color: rgba(25, 28, 31, 0.5);
  border-radius: 16px;
}

.films_names {
  grid-area: films_names;
  overflow-y: auto;
  padding: 8px;
  background-color: rgba(25, 28, 31, 0.5);
  border-radius: 16px;
}

.key_square {
  height: 12px;
  width: 30px;
  outline: solid 2px black;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  margin-left: 10px;
}

.actor_square {
  width: 30px;
  outline: solid 1px white;
  margin-right: 5px;
  margin-top: 1px;
}

.leftpane > svg,
.leftpane > canvas {
  font: 14px sans-serif;
  position: absolute;
}

.leftpane > canvas {
  pointer-events: none;
}

.leftpane text.label {
  cursor: default;
  fill: white;
}

.leftpane rect.background {
  fill: transparent;
}

.leftpane rect.background:hover {
  fill: rgba(120, 120, 120, 0.2);
}

.leftpane .resize rect {
  fill: white;
}

.leftpane rect.extent {
  fill: rgba(255, 255, 255, 0.25);
  stroke: white;
}

.leftpane .axis line,
.leftpane .axis path {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.leftpane canvas {
  opacity: 1;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.leftpane canvas.faded {
  opacity: 0.25;
}

.leftpane canvas.dimmed {
  opacity: 0.85;
}

.leftpane {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider text {
  fill: green;
}

.genre_dot {
  width: 10px;
  height: 10px;
  outline: solid 1px white;

  margin-left: 1px;
  margin-top: 1px;
  border-radius: 50%;
}
